body {
    background: #4682A9;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
text-align: center;
margin-top: 100px;
}

.baslik {
text-align: center;
font-size: 50px;
color: #F6F4EB;
}

#inputText {
width: 200px;
height: 30px;
font-size: 20px;
border-radius: 10px;
border-bottom: 2px solid #A0C49D;
vertical-align: middle;
background-color: #F6F4EB;
border: 2px solid #fff;

}

#inputDate {
width: 200px;
height: 30px;
font-size: 20px;
border-radius: 10px;
border-bottom: 2px solid #A0C49D;
vertical-align: middle;
background-color: #F6F4EB;
border: 2px solid #fff;

}

#addToDo {
height: 30px;
width: 65px;
border: none;
vertical-align: middle;
font-size: 20px;
outline: none;
cursor: pointer;
background-color: #F6F4EB;
color: #4682A9;
text-align: center;
border-radius: 15px;  
transition-duration: 0.4s;

}

#addToDo:hover {
background-color: #4682A9; 
color: white;
}



#clearToDo {
height: 30px;
width: 65px;
border: none;
vertical-align: middle;
font-size: 20px;
outline: none;
cursor: pointer;
background-color: #F6F4EB;
color: #4682A9;
text-align: center;
border-radius: 15px;  
transition-duration: 0.4s;

}

#clearToDo:hover {
background-color: #4682A9; 
color: white;
}

.p-styling {
color: #F6F4EB;
font-size: 35px;
cursor: pointer;
}